#aboutMeInfo {
  display: block;
  font-size: 5px
}
html {
  background-color: #F7D2BC;
}
h1{
  font-size: 20px;
  text-align: center;
  background-color: #A7C7EB;
  text-align: center;
}
h2 {
  font-size: 5px;
  text-align: center;
}	
#aboutButton {
  line-height: 10;
  font-size: rem;
  color: white;
  background-color: black;
}
