#aboutMeInfo {
  display: block;
  font-size: 5px
}
html {
  background-color: #F7D2BC;
}
h1{
  font-size: 150px;
  text-align: center;
  background-color: #A7C7EB;
  text-align: center;
}
h2 {
  font-size: 50px;
  text-align: center;
}	
#aboutButton {
  font-size: 80px;
  padding: 90px 200px;
  color: white;
  background-color: black;
}
