#aboutMeInfo {
  display: block;
  font-size: 5px
}
#favThingsInfo {
  display: block;
  font-size: 5px
}
html {
  background-color: #F7D2BC;
}
h1{
  font-size: 150px;
  text-align: center;
  background-color: #B3632B;
  color: white;
  text-align: center;
}
h2 {
  font-size: 50px;
  text-align: center;
}	
p {
  font-size: 40px;
  color: #4D2B12;
}
#button-group button {
  font-size: 50px;
  padding: 60px 100px;
  color: #4D2B12;
  background-color: #F0C581;
  border-radius: 12px;
  text-align: center;
}
img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}
