body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  color: lightgreen;
  text-align: center;
}

h2, h3 {
  color: black;
}

p {
  color: black;
}

nav {
  border-bottom: 1px solid black;
}

.backs ol {
  list-style-type: none;
  padding-left: 0;
}

.back {
  display: inline-block;
}

.back a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
